==
<h1>{{ this.page.title|_ }}</h1>

<ul class="dashboard-menu-vertical">

  <li>
    <a href="dashboard" title="dashborad">
        <span class="dashIco">
          <i class="fa fa-home"></i>
        </span>
        <span class="dashTitle">
          {{'Tableau de bord' |_}}
        </span>
    </a>
  </li>
    <li>
      <a href="#" title="dashborad">
          <span class="dashIco">
            <i class="fa fa-suitcase"></i>
          </span>
          <span class="dashTitle">
            {{'Ma société' |_}}
          </span>
      </a>
    </li>

    <li>
      <a href="#" title="dashborad">
          <span class="dashIco">
            <i class="fa fa-camera"></i>
          </span>
          <span class="dashTitle">
            {{'Mes produits' |_}}
          </span>
      </a>
    </li>


    <li>
      <a href="#" title="dashborad">
          <span class="dashIco">
            <i class="fa fa-calendar"></i>
          </span>
          <span class="dashTitle">
            {{'Abonnements' |_}}
          </span>
      </a>
    </li>

    <li>
      <a href="#" title="dashborad">
          <span class="dashIco">
            <i class="fa fa-user"></i>
          </span>
          <span class="dashTitle">
            {{'Mon Profil' |_}}
          </span>
      </a>
    </li>


    <li>
      <a href="#" title="dashborad">
          <span class="dashIco">
            <i class="fa fa-key" aria-hidden="true"></i>
          </span>
          <span class="dashTitle">
            {{'Déconnexion' |_}}
          </span>
      </a>
    </li>
</ul>
