
;;
==
<?
    function onStart(){
        $this->locale = App::getLocale();
        //echo $this->locale;
    }
?>
==

<div class="contSlider">
    <header>
        <div class="tophead">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo">
                            <a href="{{ 'home'|page }}" title="NASP"><img src="{{ 'assets/images/logo.png' |theme }}" alt="NASP"/></a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="ContRightTop clearfix">
                                <div class="col-sm-12">
                                    <div class="InscripCompte">
                                        <i class="fas fa-user"></i>
                                        <div class="ContInscri">

                                          {% if user %}
                                              <a href="{{'tableau-de-bord-fournisseur'|page}}" title="{{ 'Profil'|_ }}">{{ 'Profil'|_ }}</a> -
                                            <a data-request="onLogout" data-request-data="redirect: '/good-bye'">{{ 'Déconnexion'|_ }}</a>
                                          {% else %}
                                            <a href="{{ 'login'|page }}" title="Login">{{ 'Login'|_ }} </a>  -
                                            <a href="{{ 'login'|page }}" title="Inscription">{{ 'Inscription'|_ }}</a>
                                          {% endif %}


                                        </div>
                                    </div>
                                    <div class="reseaux">
                                        <a target="_blank" href="#" title="Facebook" class="Facebook" ><i class="fab fa-facebook-f"></i></a>
                                        <a target="_blank" href="#" title="Twitter" class="Twitter" ><i class="fab fa-twitter"></i></a>
                                        <a target="_blank" href="#" title="Google plus" class="Google" ><i class="fab fa-google-plus-g"></i></a>
                                    </div>
                                    <div class="langSelector">
                                        <ul>
                                            <!--<li><a href="#" title="English">English</a></li>-->
                                            {% component 'localePicker' %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div id="sb-search" class="sb-search">
                                        <form action="">
                                            <input class="sb-search-input" placeholder="Recherche" type="text" value="" name="s" id="search">
                                            <input class="sb-search-submit" type="submit" value="">
                                            <span class="sb-icon-search"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="BottomHead">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <nav>
                            <ul id="mainNav">
                                <li class="{% if this.page.id == 'home' %} active {% endif %}">
                                    <a href="{{ 'home'|page }}" title="{{ 'Accueil'|_ }}">
                                        {{ 'Accueil'|_ }}
                                    </a>
                                </li>
                                <li class="{% if this.page.id == 'produits-services' %} active {% endif %}">
                                    <a href="{{ 'produits-services'|page }}" title="Produits et services ">
                                        {{ 'Produits et services'|_ }}
                                    </a>
                                </li>
                                <li class="{% if this.page.id == 'fournisseurs' %} active {% endif %}">
                                    <a href="{{ 'fournisseurs'|page }}" title="Fournisseurs">{{ 'Fournisseurs'|_ }}  </a>

                                </li>
                                <li class="{% if this.page.id == 'emploi' %} active {% endif %}">
                                    <a href="{{ 'emploi'|page }}" title="Emploi">{{ 'Emploi'|_ }}  </a>
                                </li>
                                <li class="{% if this.page.id == 'opportunites-affaire' %} active {% endif %}">
                                    <a href="{{ 'opportunites-affaire'|page }}" title="Opportunite d'affaire">{{ 'Opportunité d\'affaires'|_ }}  </a>
                                </li>
                                <li class="{% if this.page.id == 'formateurs' or this.page.id == 'consultants' %} active {% endif %}">
                                    <a href="{{ 'formateurs-consultants'|page }}" title="{{ 'Formateurs et consultants'|_ }}">{{ 'Formateurs et consultants'|_ }}  </a>
                                    <!--<ul>
                                      <li><a href="{{ 'formateurs'|page }}" title="{{ 'Formateurs'|_ }}">{{ 'Formateurs'|_ }}  </a></li>
                                      <li><a href="{{ 'consultants'|page }}" title="{{ 'Consultants'|_ }}">{{ 'Consultants'|_ }}  </a></li>
                                    </ul>-->
                                </li>
                                <li class="{% if this.page.id == 'evenements' %} active {% endif %}">
                                    <a href="{{ 'evenements'|page }}" title="Evènements">{{ 'Evénements'|_ }}  </a>
                                </li>
                                <li class="{% if this.page.id == 'documents-utiles' %} active {% endif %}">
                                    <a href="{{ 'documents-utiles'|page }}" title="Documents utiles">{{ 'Documents utiles'|_ }}  </a>
                                </li>
                                <li class="{% if this.page.id == 'contact' %} active {% endif %}">
                                    <a href="{{ 'contact'|page }}" title="Contact">{{ 'Contact'|_ }}  </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
